
.div1 {
    background-color:#303030;
    padding: 3%;
    text-align: center;
}

.searchB {
    border-radius: 25px;
    padding: 25px;
    text-align: center;
}

input[type=text] {
    width: 700px;
    height:50px;
    border-radius: 25px;
    border: black;
    padding: 5px;

}

.center-block {
    margin: auto;
    display: block;
}

.form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.p1 {
    color: aliceblue;
}

.checked{
    color: orange;
}

.figure-caption{
    margin-left:80px;
}

.box{
    margin-top:10px;
    width:250px;
    height:350px;
    margin-left:20px;
}