* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;

   }

html {
  font-family: 'Open Sans', sans-serif; 
  font-size: 14px;
  /*color: #333;*/
  width: 100%;
  height: auto;
  min-height: 300px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #000
}
.wrapper {
  background-color: #FFF;
  width: 1440px;
  max-width: 90%;
  margin: 0 auto;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}
.nav {
  background-color: #000000; 
  color: #ffffff;
  list-style: none;
  text-align: right;
  padding: 30px 0 30px 0;
}

.nav a {
  padding: 0 25px 0 25px;
  text-decoration: none;
  color: #ffffff;
}

.nav a:hover {
  color: #c1c1c1;
}

.nav img {
  float: left;  
  max-width:130px;
  max-height:130px;
  padding: 0px 15px 0 15px;
  padding-left: 20px;
  display: inline-block;
}

.navMiddle {
  background-color: #000000; 
  color: #ffffff;
  list-style: none;
  /*text-align: right;*/
  padding: 30px 0 30px 0;
}

#content_wrapper {
    width: 900px;
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: cente
  }

#poster {
  width: 275px;
  position: relative;
  float: left;
}

#content {
  float: left;
  width: 500px;
  margin-left: 100px;
}
.H {
  display: inline;
  font-size: 1.75em;
  color: #ffffff;
}

 i {
  color: #73e298;
  font-size: 1.35em;
  margin: 0 .15em;
}

.inactive {
  color: #484848;
}

.description {
  color: #bbbebf;
  line-height: 2;
  font-size: 1em;
}

.info {
  color: #ffffff;
  font-size: 1em;
  font-weight: 700;
  margin-top: 3em;
}
span {
  margin: 0 .5em;
}
.poster_image {
  width: 100%;
  max-width: 100%;
  border-radius: .5em
  -webkit-box-shadow: 0px 0px 76px 0px rgba(0, 0, 0, 0.47);
  -moz-box-shadow: 0px 0px 76px 0px rgba(0, 0, 0, 0.47);
   box-shadow: 0px 0px 76px 0px rgba(0, 0, 0, 0.47);
}

img #image{
  height: 20%; 
  width: 20%; 
  object-fit: contain;
  
}

p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  font-style: bold;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.row {
  width: 100%;
}
.post {
  width: 14%;
  float: left;
  margin-right: 2.5%;
}

.post1 {
  width: 25%;
  float: left;
  margin-right: 2.5%;
}

img {
  width: 100%;
  max-width: 100%
  border-radius .5em; 
  /*padding: 25px 50px 75px 100px;*/
}

#top_mouths1 header  h2 {
  font-size: 1.75em;
  color: #ffffff;
   padding-top: 80px;
}
 #top_mouths2 header  h2 {
  font-size: 1.75em;
  color: #ffffff;
   padding-top: 80px;
}


.title {
  font-size: 1.25em; 
  margin: 1em 0 0 0;
  color: #000000;
}

.post_info {
  font-size: .75em;
  color: #ffffff; /*secondary*/
  margin: 0.5em 0;
}

.search {
    padding: 30px 3px;
    font-size: 17px;
    background-color: #000;
    background-size: cover;
    width: 100%;

}
 .input {
  display: inline-block;
  float: right;
    border: 2px solid #000;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px


}

.search input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

hr {
   width: 95%;
   margin: auto;
   justify-content: center;
}


.container {
  position: relative;
  width: 50%;
}

.container:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
