/* global styles */
@font-face {
    font-family: 'arciform_sansregular';
    src: url('arciform-webfont.woff2') format('woff2'),
         url('arciform-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html{
    overflow-x: hidden !important;
    max-width: 100vw !important;
}
body{
    font-family: "helvetica", sans-serif;
    overflow-x: hidden !important;
    max-width: 100vw !important;
}
/* navbar styles */
#navbar{
    background-color: #fff !important;
    border-bottom: 1px solid #eee;
    font-family: 'arciform_sansregular';
}

.header {
    background-color:grey !important;
    padding: 1.5%;
    text-align: center;
  }
  
  #breadcrumb{
      background-color: #303030 !important;
      color: aliceblue !important;
      font-family: 'arciform_sansregular';
  }

#user-preferences-section{
    width: 30vw;
    min-height: 300px;
    position: fixed;
    top: 0px;
    right: 1px;
    z-index: 3;
    background-color: #fff;
    box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.22);
}

#user-preferences-section h4 a,.user-prefs a{
    color: #fff !important;
    display: flex;
    background-color: #777;
    width: 35px !important;
    height: 35px;
    align-content: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 1.3em;
}

#user-preferences-section div.user-prefs-header{
    width: 100%;
    border-bottom: 2px solid #777;
}

.preference-option{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}
.preference-option>div:nth-child(1){
    grid-column: 1/4;
}
.preference-option>div:nth-child(2){
    grid-column: 4/5;
}
.preference-option>div:nth-child(2) button{
    border-radius: 40px;
}
/* end of navbar styles */

/* upload.html styles */
#upload-form-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 15px;
}
/* mouth image divs */
.mouth-drop-target{
    border: 1px dashed #ccc;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 15px;
    height: 150px;
    display: flex;
    border-radius: 4px;
    overflow: hidden !important;
    position: relative;
    background-size: cover !important;
    background-position: center center !important;
}
.mouth-drop-target h4{
    display: flex;
    background: rgba(255 ,255 , 255, 0.8);
    padding: 0px 4px;
    align-self: center;
    font-weight: bold;
    text-align: center;
}
.mouth-drop-target input{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

.modal-body button, #upload-mouths-btns button{
    border-radius: 40px;
}

.modal label{
    font-weight: bold;
}

/* media queries  */
@media (max-width: 992px){
    #user-preferences-section{
        width: 50vw;
    }
}
@media (max-width: 768px){
    #user-preferences-section{
        width: 70vw;
    }
}
@media (max-width: 576px){
    #user-preferences-section{
        width: 90vw;
    }
    #upload-form-container{
        grid-template-columns: 1fr 1fr;
    }
    #user-prefs-1{
        display: block;
    }
    #user-prefs-2{
        display: none;
    }
}
@media (max-width: 480px){
    #upload-form-container{
        grid-template-columns: 1fr;
    }
    #user-preferences-section{
        width: 98vw;
    }
}
@media (min-width: 576px){
    #mp-nav{
        padding-left: 30px;
    }
    #user-prefs-1{
        display: none;
    }
    #user-prefs-2{
        display: block;
    }
}