$main: #252529;
$secondary: #8b8b9f;
$highlight: #73e298;
$white: #FFFFFF;

* {
	box-sizing: border-box;
}

html, body {
	font-family: 'Open Sans', sans-serif;
}

.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.wrapper {
	width: 1440px;
	max-width:90%;
	margin: auto;
}